.banner-section {
  background: url("../../../assets/images/banner.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

.banner-text {
  margin-top: 30px;
  font-size: 110px;
  color: #ed1c24;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: normal !important;
  font-weight: 700;
}

/* h1.banner-text {
  font: 400 110px/100px Roboto, "Helvetica Neue", sans-serif;
} */

.banner-text span {
  color: black;
  font-weight: normal;
}

.sub-text {
  color: black;
  font-size: 31pt;
  margin-bottom: 20px;
  line-height: normal !important;
}

.avail-online-btn {
  font-size: 30px;
  min-width: 350px;
}

@media only screen and (max-width: 767px) {
  .banner-section {
    background-position: center;
    height: 910px;
  }

  .banner-text {
    font-size: 80px;
  }

  .banner-text span {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .banner-text {
    font-size: 50px;
  }
}
