<div class="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-center">
        <h1 class="banner-text">PROPERTY <span>online</span></h1>
        <p class="sub-text">fast. easy. convenient.</p>
        <div class="btn-grp">
          <a
            pageScroll
            href="#reminder"
            class="btn btn-primary avail-online-btn"
          >
            AVAIL ONLINE NOW!
          </a>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container-fluid -->
</div>
<!-- .banner-section -->