<div class="banner-section" id="bannerSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-center header-bg" id="headerBg">
        <h1 class="banner-text">PROPERTY <span>online</span></h1>
        <p class="sub-text">protecting more than just your property</p>
        <div class="btn-grp">
          <button (click)="scrollToReminder()"
            class="btn btn-primary avail-online-btn"
          >
            AVAIL NOW!
        </button>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container-fluid -->
</div>
<!-- .banner-section -->