h1 {
  font-size: 30px;
  font-weight: 700;
}

.section {
  margin-bottom: 30px;
  padding-top: 20px;
}

.sidenav {
  display: block;
  list-style-type: none;
}

.sidenav li {
  padding: 20px;
  font-size: 18px;
}

.sidenav li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.sidenav li a:hover {
  font-weight: 700;
}

#contentBox {
  max-height: 750px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 28px;
}
