<app-header></app-header>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="contentBox">
        <div class="section">
          <h1>Privacy Policy</h1>
          <p>
            MAPFRE INSURANCE Corporation fully pledge to comply with the mandate
            of the Data Privacy Act of 2012 of Philippines (DPA) in protecting
            the fundamental human right of privacy of communication while
            ensuring free flow of information to promote innovation and growth.
            MAPFRE INSURANCE respects the privacy of all our customers and
            business partners and is committed to the safeguarding the personal
            information provided to us.
          </p>
          <p>
            MAPFRE INSURANCE is committed in safeguarding your personal
            information pursuant to the provisions of DPA. The privacy of our
            client, potential clients/visitors are important to us and we want
            to assure them that MAPFRE INSURANCE holds all their personal and
            sensitive personal information in strict compliance with the law,
            while it allows the company to provide the best services our client
            needs. This Privacy Policy is hereby issued to provide information
            on how we collect, use and protect personal information.
          </p>
        </div>

        <div id="section1" class="section">
          <h1>Application of the Policy</h1>
          <p>
            This privacy policy applies to personal and sensitive personal
            information as defined in the DPA regarding our clients and other
            individuals with whom we do business and to the management of these
            data and information in any form, whether electronic or written.
          </p>
          <p>
            This policy is based on the Republic Act 10173 and its implementing
            rules and regulations or known as "Data Privacy Act of 2012",
            including the regulations and guidelines that may be issued by the
            National Privacy Commission (NPC) from time to time. For
            jurisdictions outside Philippines, MAPFRE's group of companies may
            be subject to more restrictive privacy laws of each country.
          </p>
        </div>

        <div id="section2" class="section">
          <h1>Collection of Personal Information</h1>
          <p>
            Any information our clients/potential clients/visitors enter in our
            website or those provided to the company through any other channel
            shall be collected and stored by the company. The information that
            our clients give us may include but not limited to the following:
          </p>
          <ul>
            <li>Name</li>
            <li>Address</li>
            <li>Email Address</li>
            <li>Telephone/Cellphone Number</li>
            <li>Age</li>
            <li>Status</li>
            <li>Gender</li>
            <li>Financial Information</li>
          </ul>
          <p>
            These information are collected for the purpose of carrying the
            business of MAPFRE INSURANCE, including sending insurance policy
            quotations and issuance of insurance policies and to grant other
            requests that the customers send to us via our website.
          </p>
        </div>

        <div id="section3" class="section">
          <h1>Cookies</h1>
          <p>
            When our clients visit our website, the company may assign one or
            more "cookies" to the client's computers. By accessing our website,
            all clients/potential clients/visitors agree that we can place
            cookies on their computers.
          </p>
          <p>
            Cookies are text files that may be place in the computer's browser
            to store the user's preference. Cookies by themselves not tell us
            the user's e-mail address or other personal or sensitive personal
            information unless the user choose to provide this information to
            the company.
          </p>
          <p>
            Most browsers automatically accept cookies, but these can be modify
            in the browser setting to decline cookies. If the user choose not to
            allow us to place a cookie on the computer, the user may be
            restricted from some services and some of the interactive features
            that are being offered by our website.
          </p>
        </div>

        <div id="section4" class="section">
          <h1>Use of Personal Information</h1>
          <p>
            In collecting the information of the client, potential
            client/visitors, our primary purpose is to provide them with the
            most efficient and effective services that will entail the MAPFRE
            Experience.
          </p>
          <p>
            The collected information shall only be used by the company for the
            legitimate purpose informed to the clients. The personal and/or
            sensitive personal information shall be used for any purpose not
            prohibited by the privacy laws. With the consent of the client /
            visitors the information provided will be used for the following:
          </p>

          <ul>
            <li>
              For processing any requests or transactions made using the forms
              available in our website in relation to the various products and
              services provided by the company
            </li>
            <li>
              For all official communications about the client's account /
              policy with the company.
            </li>
            <li>
              For the development and enhancement of our existing products and
              services.
            </li>
            <li>Telephone/Cellphone Number</li>
            <li>
              For the management of business relationships between our clients /
              potential clients.
            </li>
            <li>
              For compliance of the law and/or requirements of any authorized
              regulatory office.
            </li>
            <li>
              For matching of client's data, internal and administrative
              purposes.
            </li>
            <li>
              For any other purposes directly related to any of the above
              mentioned.
            </li>
          </ul>
          <p>
            The company will not use, disclose or process any of the personal
            information of the client/potential client/visitors of our website
            for other process not stated nor related to the those stated above.
            In the event that the information will be use, disclose, or process
            for any other purpose, the company will secure the necessary consent
            of the owner of the information before proceeding. Retention of
            Personal Data submitted by our clients, visitors and other users of
            this website shall be for the period of five (5) years. The personal
            data shall be fully secured in our systems. Please be informed that
            the retention period is the mandated period for the company in
            accordance with other applicable law and regulations
          </p>
        </div>

        <div id="section5" class="section">
          <h1>Empowerment of Privacy Rights of our Clients</h1>
          <p>
            In completing the <strong>MAPFRE Experience</strong>, the privacy
            rights of our clients are safeguarded and protected in accordance to
            the Data Privacy Act of 2012 (DPA) and the General Data Protection
            Regulation 201/679 (GDPR).
          </p>
          <p>
            MAPFRE hereby adheres to the following rights of a Data Subject:
          </p>

          <ul>
            <li>
              <strong>Right to INFORMATION</strong>
              <p>
                Clients, visitors and users of this website are well informed
                about how their personal data provided to the company shall be
                processed. Personal Data shall be processed only for the
                declared legitimate purpose.
              </p>
            </li>
            <li>
              <strong>Right to ACCESS</strong>
              <p>
                Clients, Visitors and users of this website can freely access
                their personal information submitted to the company by
                submitting directly a request to the data protection officer.
                The DPO can be reach thru e-mail at
                <strong>dataprivacy@mapfreinsular.com</strong>
              </p>
            </li>
            <li>
              <strong>Right to OBJECT</strong>
              <p>
                Clients, Visitors and users of this website are empowered by the
                company in the event that there is a need to object on how the
                company processed their personal data.
              </p>
            </li>
            <li>
              <strong>Right to RECTIFY</strong>
              <p>
                Clients, Visitors and users of this website are given the right
                to request any rectification data processed by the company. Our
                clients have the rights to rectify their personal data to ensure
                the such information is accurate, complete and updated.
              </p>
            </li>
            <li>
              <strong>Right to ERASURE or BLOCKING</strong>
              <p>
                Clients, Visitors and users of this website have the right to
                suspend, withdraw or order the blocking, removal or destruction
                of the personal data from the company's records or system.
              </p>
            </li>
            <li>
              <strong>Right to DATA PORTABILITY</strong>
              <p>
                Clients, Visitors and users of this website can freely request
                from the company the copy of an electronic or structured format
                which are commonly used by the company in processing the
                personal data submitted.
              </p>
            </li>
            <li>
              <strong>Right to file a COMPLAINT</strong>
              <p>
                Clients, Visitors and users of this website are well informed of
                their right to file a complaint against the company on the
                handling and processing of the personal data submitted. Clients
                can either file a complaint using thru the company's complaint
                management unit ( complaints@mapfreinsular.com or by clicking
                this link
                <a href="https://mapfreinsular.wufoo.com/forms/m1a4ugqx1rzkh5n/"
                  >https://mapfreinsular.wufoo.com/forms/m1a4ugqx1rzkh5n/</a
                >
                ) OR clients can directly file their grievance and complaints
                before the National Privacy Commission by going to their website
                (<a href="https://www.privacy.gov.ph/complaints-main/"
                  >https://www.privacy.gov.ph/complaints-main/</a
                >)
              </p>
            </li>
            <li>
              <strong>Right to DAMAGES</strong>
              <p>
                Clients, Visitors and users of this website shall be indemnified
                due to such inaccurate, incomplete, outdated, false, unlawfully
                obtained or unauthorized use of personal data, taking into
                account any violation of the clients rights and freedom as data
                subject.
              </p>
            </li>
          </ul>
          <p>
            MAPFRE also acknowledge the transmissibility rights of our data
            subjects, that the lawful heirs and assigns of each data subject may
            invoke the privacy rights which any of the heir or assignee, at
            anytime after the death of the data subject, or when the data
            subject is incapacitated or incapable of exercising the rights as
            enumerated above.
          </p>
        </div>

        <div id="section6" class="section">
          <h1>Disclosure / Sharing of Personal Information</h1>
          <p>
            MAPFRE INSURANCE is prohibited from selling or sharing the personal
            and sensitive personal information to any third party. The company
            will make sure that no unauthorized sharing or distribution of the
            clients / visitors information will happen on our end.
          </p>
          <p>
            The company guarantees the confidentiality of personal and sensitive
            personal information at all times. However in able for the company
            to necessary satisfy the purposes or directly related purposes in
            which the information was collected, the information may be shared
            and transfer to the following parties:
          </p>
          <ol>
            <li type="a">
              Any subsidiaries, associated companies or affiliates by the
              company.
            </li>
            <li type="a">
              Any authorized person / agency who is acting under the direct
              orders or on behalf of MAPFRE INSURANCE Corporation.
            </li>
            <li type="a">
              Any financial institutions, payment channels and other related
              agencies necessary to establish and support the payment of any
              products and services requested.
            </li>
            <li type="a">
              Any authorized and accredited service provider of the company.
            </li>
          </ol>
          <p>
            In accordance to the provision of the DPA, the company reserves the
            right to disclose any personal and/or sensitive personal information
            that the company have collected once compelled by an order of the
            court of law or requested by any governmental entity. The company
            also reserve the rights to retain the information for the allowable
            period as mandated by law for compliance to various tax and
            accounting rules and regulations.
          </p>
        </div>

        <div id="section7" class="section">
          <h1>Protection Measures of Personal Information and Database</h1>
          <p>
            Database connections are authenticated via the local database
            authentication system. Database servers are located behind two
            levels of firewall to protect from perimeter threats. All endpoints
            in the company including the database server are installed with
            anti-virus solution and are constantly scanned for vulnerability by
            Landesk endpoint security.
          </p>
        </div>

        <div id="section8" class="section">
          <h1>Digital Marketing and Promotional Updates</h1>
          <p>
            In relation to the purposes cited above, MAPFRE INSURANCE, as
            permitted by law and with the consent of the client/potential
            client/visitors may use the name and contact details already
            provided in accessing this website for marketing and promotional
            communications such as e- mail, telephone calls and SMS containing
            news, offers, promotions and events offered by the company, our
            affiliates and service providers in relation to the insurance
            products and services.
          </p>
          <p>
            In addition our clients, potential clients/visitors of this website
            may receive questionnaire, surveys, feedback form either thru
            e-mails, telephone calls and SMS for the purpose of helping the
            company improve the overall client experience, the MAPFRE
            Experience,and providing feedback on how the company can share more
            information about our products, services and promotions.
          </p>
        </div>

        <div id="section9" class="section">
          <h1>Access and Updates to Personal Information</h1>
          <p>
            If our clients do not want their information to be used, disclose or
            process at any time, they may contact the company's Data Protection
            Officer at <i>dataprivacy@mapfreinsular.com</i>. However with this
            withdrawal, any pending transactions, requests, inquries will no
            longer be processed.
          </p>
          <p>
            If our clients, potential clients/visitors do not want their
            information to be used for marketing and promotional activities,
            They can send an e-mail directly to
            <a>marketing@mapfreinsular.com</a> or they may opt not to click the
            box for the "News and Updates".
          </p>
        </div>

        <div id="section10" class="section">
          <h1>Withdrawal of Consent</h1>
          <p>
            If our clients do not want their information to be used, disclose or
            process at any time, they may contact the company's Data Protection
            Officer at <i>dataprivacy@mapfreinsular.com</i>. However with this
            withdrawal, any pending transactions, requests, inquries will no
            longer be processed.
          </p>
          <p>
            If our clients, potential clients/visitors do not want their
            information to be used for marketing and promotional activities,
            They can send an e-mail directly to
            <i>marketing@mapfreinsular.com</i> or they may opt not to click the
            box for the "News and Updates".
          </p>
        </div>

        <div id="section11" class="section">
          <h1>Links to other websites</h1>
          <p>
            This Privacy Policy only applies to this website, if any portion of
            this website contains links to other websites, those sites will not
            operate under this policy.
          </p>
          <p>
            MAPFRE INSURANCE disclaims any responsibility for the information in
            linked websites operated or maintained by third parties. These links
            may be provided for the convenience of our clients/visitors.
          </p>
          <p>
            Clients, potential clients/visitors are hereby advised to check the
            privacy policy on those other websites to understand their policy on
            the collection, use, transfer and disclosure of personal
            information.
          </p>
        </div>

        <div id="section12" class="section">
          <h1>Amendments to our Privacy Policy</h1>
          <p>
            MAPFRE INSURANCE reserves the right to amend this Privacy Policy, at
            any time and without notice. Any amendments to this policy shall be
            placed in our website.
          </p>
          <p>
            For any queries regarding how we protect personal information and
            regarding our data protection policies and practices you may contact
            our Data Protection Officer:
          </p>
          <ul>
            <li><i>dataprivacy@mapfreinsular.com</i></li>
          </ul>
        </div>

        <br />
        <br />
        <div id="address" class="section">
          <p>MAPFRE INSURANCE Corporate Center,</p>
          <p>10 F, Acacia Avenue, Madrigal Business Park</p>
          <p>Ayala Alabang, Muntinlupa City 1770 Philippines</p>
          <p>
            <strong>APPROVED: APRIL 2019</strong>
          </p>
        </div>

        <!-- <a download="Privacy Policy.pdf" href="./assets/files/privacy-policy.pdf">Download Privacy Policy PDF version</a> -->
      </div>

      <div class="col-md-4 d-sm-none d-md-block">
        <ul class="sidenav">
          <li>
            <a pageScroll href="{{ prefixLink }}section1"
              >Application of the Policy</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section2"
              >Collection of Personal Information</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section3">Cookies</a>
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section4"
              >Use of Personal Information</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section5"
              >Empowerment of Privacy Rights of our Clients</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section6"
              >Disclosure / Sharing of Personal Information</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section7"
              >Protection Measures of Personal Information and Database</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section8"
              >Digital Marketing and Promotional Updates</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section9"
              >Access and Updates to Personal Information</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section10"
              >Withdrawal of Consent</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section11"
              >Links to other websites</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}section12"
              >Amendments to our Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
