<form [formGroup]="formGroup">
  <!-- <ng-template matStepLabel>Property Insurance</ng-template> -->

  <mat-card>
    <mat-card-title class="first">
      Property Insurance Information
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Business Line</mat-label>
            <mat-select formControlName="subLine" required [(ngModel)]="selected" [disabled]="true">
              <mat-option *ngFor="let list of businessLineList" [value]="list.COD_RAMO">
                {{ list.NOM_RAMO }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Date Range</mat-label>
            <mat-date-range-input
              [rangePicker]="picker"
              [min]="today"
              required
            >
              <input
                formControlName="effectivityDate"
                matStartDate
                placeholder="Start date"
              />
              <input
                formControlName="expirationDate"
                matEndDate
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-title> Property Holder Information </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Client Category</mat-label>
            <mat-select formControlName="clientCategory" required>
              <mat-option *ngFor="let list of businessLineList" [value]="list.value">
                {{ list.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input formControlName="middleName" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Mobile Number</mat-label>
            <input
              formControlName="mobileNumber"
              maxlength="10"
              matInput
              required
            />
            <span matPrefix>+63&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input formControlName="emailAddress" matInput required />
            <mat-error *ngIf="formGroup.get('emailAddress')?.errors?.email">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input
              formControlName="birthday"
              matInput
              [matDatepicker]="bdayPicker"
              [max]="today"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="bdayPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #bdayPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div class="alert alert-info">
            <strong>Important Reminder:</strong> Please be reminded that we are now requiring clients to upload their Identification Card.
          </div>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Government ID</mat-label>
            <mat-select formControlName="documentType" required>
              <mat-option *ngFor="let list of documentIdList" [value]="list.TIP_DOCUM">
                {{ list.NOM_DOCUM }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>ID number</mat-label>
            <input
              formControlName="documentCode"
              maxlength="20"
              matInput
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <button type="button" mat-raised-button (click)="fileInput.click()">
            Upload ID Photo
          </button>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
            accept="image/*"
          />
          <div class="file-name">{{ uploadFile?.name }}</div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
