.mat-card .product-details {
  min-height: 120px;
  padding: 20px;
}

h1 {
  margin-top: 20px;
  font-weight: 700;
}

.mat-card.product:hover {
  background-color: #fd6b57;
  color: #fff !important;
  cursor: pointer;
}

.icons {
  font-size: 100px;
  color: #d81e05;
}

img.product-select {
  width: 100%;
}
