<mat-card>
  <mat-card-title class="first"> Product Selection </mat-card-title>

  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <mat-card class="product" (click)="selectProduct(20001)">
          <img class="product-select" src="./assets/images/products/test.jpg" />
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Fire Insurance</h1>
              </div>
              <div class="col-md-12">
                <ul class="product-details">
                  <li>Basic Coverage</li>
                  <li>Protection against Fire and Lightning</li>
                </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="product" (click)="selectProduct(20003)">
          <img class="product-select" src="./assets/images/products/test.jpg" />
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Earth Insurance</h1>
              </div>
              <div class="col-md-12">
                <ul class="product-details">
                  <li>With home emergency and assistance services</li>
                  <li>Protection against Fire, Lightning and Earthquake</li>
                </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="product" (click)="selectProduct(20002)">
          <img class="product-select" src="./assets/images/products/test.jpg" />
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Water Insurance</h1>
              </div>
              <div class="col-md-12">
                <ul class="product-details">
                  <li>
                    With advance assistance services, personal accident and
                    liabilty coverages
                  </li>
                  <li>
                    Protection against Fire, Lightning, Earthquakes, Floods and
                    more perils
                  </li>
                </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <div>
      <button mat-raised-button matStepperPrevious color="basic">Back</button>
      <!-- <button mat-raised-button matStepperNext color="primary">Next</button> -->
    </div>
  </mat-card-actions>
</mat-card>
