<div class="container-fluid">
  <div id="header" class="header-section">
    <div class="row">
      <div class="col-lg-12 first-layer">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="logo" title="MAPFRE INSURANCE">
              <a href="{{homepage}}" accesskey="1" tabindex="0">
                <img
                  src="assets/images/mapfre/logo-small-new.png"
                  alt="MAPFRE Insurance"
                  title="MAPFRE Insurance"
                />
              </a>
            </div>
            <div class="menu-toggle" onclick="$('.hr-links').slideToggle();">
              <i class="fa-solid fa-bars fa-2x"></i>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 hr-links-wrapper">
            <div class="content-container02">
              <div class="hr-links">
                <ul>
                  <li>
                    <a
                      href="//mapfre.com.ph/"
                      tabindex="0"
                      target="_blank"
                      >MAPFRE Philippines</a
                    >
                  </li>
                  <li>
                    <a
                      href="//mapfre.com/"
                      tabindex="0"
                      target="_blank"
                      >MAPFRE Global</a
                    >
                  </li>
                  <li>
                    <a
                      href="//insurance.gov.ph/"
                      tabindex="0"
                      target="_blank"
                      >Insurance Commission</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .first-layer -->

      <div class="col-lg-12 second-layer hr-second-layer d-none d-sm-block">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5"></div>
          <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="hr-socialmedia">
              <ul>
                <li>
                  <a
                    href="{{socMedFacebook}}"
                    tabindex="0"
                    class="icon-facebook"
                    title="Facebook"
                    target="_blank"
                    ><i class="fa-brands fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="{{socMedTwitter}}"
                    tabindex="0"
                    class="icon-twitter"
                    title="Twitter"
                    target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="{{socMedInstagram}}"
                    tabindex="0"
                    class="icon-instagram"
                    title="Instagram"
                    target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="{{socMedYoutube}}"
                    tabindex="0"
                    class="icon-youtube"
                    title="YouTube"
                    target="_blank"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="{{socMedLinkedin}}"
                    tabindex="0"
                    class="icon-linkedin"
                    title="Linkedin"
                    target="_blank"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- .second-layer -->
    </div>
    <!-- .row -->
  </div>
  <!-- #header -->
</div>
<!-- .container-fluid -->