
  <app-header></app-header>

  <div class="container-fluid">
    <div class="container">
      <mat-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="propertyFG" label="Property Insurance Information">
          <app-property [formGroup]="propertyFG"
          (selectedFile)="getSelectedFile($event)"></app-property>
        </mat-step>

        <mat-step [stepControl]="locationFG" label="Location and Building Details">
          <app-location-building [formGroup]="locationFG"></app-location-building>
        </mat-step>

        <mat-step [stepControl]="boundaryFG" label="Boundaries and Related Structures">
          <app-boundary-related-structure [formGroup]="boundaryFG"></app-boundary-related-structure>
        </mat-step>

        <mat-step [stepControl]="productFG" label="Products and Plans">
          <app-products [formGroup]="productFG" (nextStep)="nextStep()"></app-products>
        </mat-step>

        <mat-step [stepControl]="fg" label="Payment and Coverage">
          <app-coverage [formGroup]="fg"
            [referenceNumber]="referenceNumber"
            [paymentDetails]="paymentDetails"
            [coverages]="coverages"
            [emailData]="emailData"></app-coverage>
        </mat-step>
      </mat-stepper>
    </div>
  </div>

  <app-footer></app-footer>
