#footer {
  font-family: Arial;
  color: #fff;
  overflow-wrap: break-word;
}

#footer .ft-spacer {
  clear: both;
  padding-bottom: 40px;
}

#footer .first-layer {
  padding-top: 50px;
  padding-bottom: 10px;
  background: #d81e05;
}

#footer h1.upsize {
  font-size: 35px;
  font-weight: bold;
}

#footer h3 {
  font-weight: 700;
  color: #fff;
}

#footer a {
  color: #fefefe;
}

#footer .ft-info {
  padding: 0 25px;
  text-align: center;
}

#footer .ft-links ul {
  list-style: none;
  padding: 0px;
}

#footer .ft-links ul li {
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  background-color: #d81e05;
  background: #ff6269;
  border-radius: 23px;
  margin: 10px 25px;
}

#footer .ft-links ul li:hover {
  background-color: #1f1f1f;
  color: #fff;
  font-weight: 800;
}

#footer .ft-links ul li a {
  text-decoration: none;
}

#footer .col-sm-2 {
  text-align: center;
}

#footer .ft-icons {
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

#footer .ft-social-media {
  text-align: center;
  background-color: #2e2e2e;
  padding-top: 15px;
}

#footer ul.ft-socialmedia {
  list-style: none;
  padding-left: 0;
}

#footer ul.ft-socialmedia li {
  display: inline;
  margin: 0 10px;
  font-size: 22px;
}

#footer .ft-version {
  background-color: #3e3e3e;
  text-align: center;
}

#footer .ft-version p {
  margin: 8px 0;
  font-size: 12px;
  color: #bdbdbd;
}
