<div class="container-fluid">
  <div id="footer" class="footer-section">
    <div class="row">
      <div class="col-lg-12 first-layer">
        <div class="row">
          <div class="col-md-4 ft-links">
            <ul>
              <li>
                <a
                  href="//www.mapfre.com.ph/insurance-ph/contact-us/"
                  tabindex="0"
                >
                  <p class="mb-0">Contact Us</p>
                </a>
              </li>
              <li>
                <a
                  href="//www.mapfre.com.ph/insurance-ph/about-us/"
                  tabindex="0"
                >
                  <p class="mb-0">About Us</p>
                </a>
              </li>
            </ul>
            <div class="ft-spacer"></div>
          </div>
          <!-- .col-md-4 -->

          <div class="ft-info col-md-8">
            <h1 class="upsize">NEED OTHER INSURANCE PRODUCT?</h1>
            <p>
              For more information, please inquire directly at any MAPFRE
              INSURANCE office.
            </p>
            <br />
            <div class="row">
              <div class="col-md-3">
                <i class="fa-solid fa-location-dot ft-icons"></i>
                <p>
                  MAPFRE INSURANCE Corporate Center <br />
                  Acacia Ave., Madrigal Business Park, Ayala Alabang, Muntinlupa
                  City
                </p>
              </div>
              <div class="col-md-3">
                <i class="fa-solid fa-phone ft-icons"></i>
                <p>&#40;02&#41; 8876-4400</p>
              </div>
              <div class="col-md-3">
                <i class="fa-solid fa-envelope ft-icons"></i>
                <p>teleservice&#64;mapfreinsular.com</p>
              </div>
              <div class="col-md-3">
                <i class="fa-solid fa-globe ft-icons"></i>
                <p><a href="//mapfre.com.ph">www.mapfre.com.ph</a></p>
              </div>
            </div>
            <div class="ft-spacer"></div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .first-layer -->

      <div class="col-lg-12 second-layer">
        <div class="row">
          <div class="col-lg-12 col-md-12 ft-social-media">
            <ul class="ft-socialmedia">
              <li>
                <a
                  href="//facebook.com/mapfreph"
                  tabindex="0"
                  class="icon-facebook"
                  title="Facebook"
                  target="_blank"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  href="//twitter.com/mapfreph"
                  tabindex="0"
                  class="icon-twitter"
                  title="Twitter"
                  target="_blank"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="//instagram.com/mapfreinsuranceph/"
                  tabindex="0"
                  class="icon-instagram"
                  title="Instagram"
                  target="_blank"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  href="//youtube.com/user/mapfreinsularph"
                  tabindex="0"
                  class="icon-youtube"
                  title="YouTube"
                  target="_blank"
                  ><i class="fa-brands fa-youtube"></i
                ></a>
              </li>
              <li>
                <a
                  href="//linkedin.com/company/mapfreph"
                  tabindex="0"
                  class="icon-linkedin"
                  title="Linkedin"
                  target="_blank"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- .ft-sm-wrapper -->
        </div>
      </div>
      <!-- .second-layer -->

      <div class="col-lg-12 third-layer">
        <div class="row">
          <div class="col-lg-12 col-md-12 ft-version">
            <p>MAPFRE INSURANCE Corporation &#169; 2022 &#124; Property Online v.{{ version }}</p>
          </div>
          <!-- .ft-copyright -->
        </div>
      </div>
      <!-- .third-layer -->
      
    </div>
    <!-- .row -->
  </div>
  <!-- #footer -->
</div>
<!-- .container-fluid -->
