<div id="footer" class="footer-section">
  <div class="row">
    <div class="col-lg-12 first-layer">
      <div class="row">
        <div class="ft-pads col-md-5">
          <h3>CONTACT US</h3>
          <p>
            For more information, please inquire directly at any MAPFRE
            INSURANCE office.
          </p>
          <br />
          <div class="row">
            <div class="col-sm-2">
              <i class="fa-solid fa-location-dot ft-icons"></i>
            </div>
            <div class="col-sm-10">
              <p>
                MAPFRE INSURANCE Corporate Center <br />
                Acacia Ave., Madrigal Business Park, Ayala Alabang, Muntinlupa
                City
              </p>
            </div>
            <div class="col-sm-2">
              <i class="fa-solid fa-phone ft-icons"></i>
            </div>
            <div class="col-sm-10">
              <p>(02) 8876-4400</p>
            </div>
            <div class="col-sm-2">
              <i class="fa-solid fa-envelope ft-icons"></i>
            </div>
            <div class="col-sm-10">
              <p>teleservice@mapfreinsular.com</p>
            </div>
            <div class="col-sm-2">
              <i class="fa-solid fa-globe ft-icons"></i>
            </div>
            <div class="col-sm-10">
              <p><a href="//www.mapfre.com.ph">www.mapfre.com.ph</a></p>
            </div>
          </div>
          <div class="ft-spacer"></div>
        </div>

        <div class="ft-pads col-md-4 ft-links">
          <h3>OTHERS</h3>
          <p>More information about MAPFRE INSURANCE</p>
          <ul>
            <li>
              <a href="privacy-policy" tabindex="0">
                <p class="mb-0">Privacy Policy</p>
              </a>
            </li>
            <li>
              <a
                href="//www.mapfre.com.ph/insurance-ph/contact-us/"
                tabindex="0"
              >
                <p class="mb-0">Contact Us</p>
              </a>
            </li>
            <li>
              <a href="//www.mapfre.com.ph/insurance-ph/about-us/" tabindex="0">
                <p class="mb-0">About Us</p>
              </a>
            </li>
            <li>
              <a href="customer-charter" tabindex="0">
                <p class="mb-0">Customer Charter</p>
              </a>
            </li>
          </ul>
          <div class="ft-spacer"></div>
        </div>
        <!-- .col-md-4 -->

        <div class="ft-pads col-md-3">
          <h3>FOLLOW US</h3>
          <p>Connect with us through our social media accounts</p>
          <ul class="ft-socialmedia">
            <li>
              <a
                href="https://www.facebook.com/mapfreph"
                tabindex="0"
                class="icon-facebook"
                title="Facebook"
                target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/mapfreph"
                tabindex="0"
                class="icon-twitter"
                title="Twitter"
                target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/mapfreinsuranceph/"
                tabindex="0"
                class="icon-instagram"
                title="Instagram"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="//www.youtube.com/user/mapfreinsularph"
                tabindex="0"
                class="icon-youtube"
                title="YouTube"
                target="_blank"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/mapfreph"
                tabindex="0"
                class="icon-linkedin"
                title="Linkedin"
                target="_blank"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- .col-md-4 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .first-layer -->

    <div class="col-lg-12 second-layer">
      <div class="row">
        <div class="col-lg-12 col-md-12 ft-company">
          <p>MAPFRE INSURANCE Corporation © 2022</p>
        </div>
        <!-- .ft-sm-wrapper -->
      </div>
    </div>
    <!-- .second-layer -->

    <div class="col-lg-12 third-layer">
      <div class="row">
        <div class="col-lg-12 col-md-12 ft-version">
          <p>Property Online v.{{ version }}</p>
        </div>
        <!-- .ft-copyright -->
      </div>
    </div>
    <!-- .third-layer -->
  </div>
  <!-- .row -->
</div>
<!-- #footer -->
