<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-title class="first"> Boundaries </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Front</mat-label>
            <textarea
              matInput
              formControlName="front"
              required
              matTooltip="Info about the action"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Right</mat-label>
            <textarea
              matInput
              formControlName="right"
              required
              matTooltip="Info about the action"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Left</mat-label>
            <textarea
              matInput
              formControlName="left"
              required
              matTooltip="Info about the action"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Rear</mat-label>
            <textarea
              matInput
              formControlName="rear"
              required
              matTooltip="Info about the action"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-title> Other Related Structure Details </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Garage</mat-label>
            <input type="number" matInput formControlName="garage"/>
            <span matPrefix>PHP&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Kitchen</mat-label>
            <input type="number" matInput formControlName="kitchen"/>
            <span matPrefix>PHP&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Gazebo</mat-label>
            <input type="number" matInput formControlName="gazebo"/>
            <span matPrefix>PHP&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Swimming Pool</mat-label>
            <input
              type="number"
              matInput
              formControlName="swimmingPool"
            />
            <span matPrefix>PHP&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Fence</mat-label>
            <input type="number" matInput formControlName="fence"/>
            <span matPrefix>PHP&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-title> Other Details </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Loss History</mat-label>
            <input
              matInput
              formControlName="lossHistory"
              matTooltip="Info about the action"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Previous Insurer</mat-label>
            <input
              matInput
              formControlName="previousInsurer"
              matTooltip="Info about the action"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <div>
        <button mat-raised-button matStepperPrevious color="basic">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
