<app-header></app-header>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="contentBox">
        <div id="customerCharter" class="section">
          <h1>Customer Charter</h1>
          <p>
            MAPFRE INSURANCE being one of the leading providers of Non-life
            insurance in the country, WE aim to uphold our reputation for acting
            responsibly and always with integrity, respecting the laws and
            regulations, traditions and culture of the markets in which we
            operates as well as internationally accepted standards of best
            practices of business conduct.
          </p>
          <p>
            The Board of Directors of MAPFRE INSURANCE requires the highest
            possible standards of professional and ethical conduct from all
            employees of the company. Equivalent standards of conduct are
            expected from all the intermediaries acting on behalf of our
            company. The company is implementing this Charter precisely in order
            to help maintain the highest possible ethical standards.
          </p>
          <p>
            This site is dedicated in catering the e-commerce of MAPFRE
            INSURANCE products. Electronic Commmerce or E-commerce is a
            commercial activity which involves buying, selling or providing
            insurance products and services online or via the internet.
          </p>
          <p>
            All our employees and other persons, who are authorized to act on
            behalf of our company, are expected to treat compliance with this
            charter as an important element of their relationship with the
            Company.
          </p>
        </div>

        <div id="section1" class="indent section">
          <h2>We place YOUR needs first</h2>
          <p>
            <i>
              We help you identify which of our products and services provides
              the best solution for your needs.</i
            >
          </p>
          <p>
            <i>
              We also make sure that while our customers are having the MAPFRE
              experience in all our products and services, Customer Privacy is
              well secured. MAPFRE INSURANCE adheres to complete protection and
              safeguarding of the privacy for all our customers. We only process
              your personal information in accordance with our legitimate
              purpose of bringing our products and services close to you.</i
            >
          </p>
          <p>
            <i>
              We also have our data protection officer who is dedicated to all
              your privacy concerns and needs. You may e-mail our DPO at
              dataprivacy@mapfreinsular.com</i
            >
          </p>
        </div>

        <div id="section2" class="indent section">
          <h2>We commit to superior SERVICE</h2>
          <p>
            <i>
              We continously find ways to improve our services and efficiency to
              be able to deliver in the fastest and most convenient way.</i
            >
          </p>
          <p>
            <i>
              We are committed on providing our customers a Safe and Secure
              Operations. All our transactions from information gathering up to
              premium payments are highly secured with encryption to protect all
              data and prevent any breach from occurence.</i
            >
          </p>
          <p>
            <i>
              We also offer Quality Service from the preparation, billing,
              payment until completion and issuance of our products. We are
              responsible for the fast processing and completeness of all our
              transactions as our promise to all our customers.</i
            >
          </p>
        </div>

        <div id="section3" class="indent section">
          <h2>We are FAIR and HONEST.</h2>
          <p>
            <i>
              We strictly observe good corporate governance in all our
              undertakings by maintaining
              <strong
                >Full Transparency of the information and details of all our
                products and services, including premiums and its related
                cost.</strong
              ></i
            >
          </p>
          <p>
            <i>
              We provide our customers with accurate and accessible product
              descriptions and its coverage together with other additional
              services that can be avail. We do not charge any customers with
              unauthorize transactions or different products that were not
              ordered.</i
            >
          </p>
        </div>

        <div id="section4" class="indent section">
          <h2>We value YOUR TRUST.</h2>
          <p>
            <i>
              Customer Satisfaction is our number one priority. We value your
              trust in the company by providing safe and secured operations,
              quality services, transparent product information and safeguarding
              customer privacy.</i
            >
          </p>
          <p>
            <i>
              We also value your insights by providing a channel for all your
              inquiries and complaints which will be promptly replied and
              acknowledged by our employees.</i
            >
          </p>
          <p>
            <i>
              Our complaint handling mechanism can be found at our Customer
              Service tab in our website or our customers can send an e-mail at
              <strong>complaints@mapfreinsular.com</strong>. Every queries or
              complaints are immediately acknowledged by the company and will
              give our best effort to respond and resolve it within seven (7)
              business days.</i
            >
          </p>
        </div>

        <div id="compliance" class="section">
          <h1>
            COMPLIANCE with GUIDELINES on Electric Commerce of Insurance
            Products (Circular Letter Nos. 2014-47, 2016-15 and 2016-60)
          </h1>
          <p>
            MAPFRE INSURANCE conducts its business activities in the full
            observance of the current legislation, the regulatory bodies and the
            authorities in the Philippines, and takes a neutral stance with
            regard to the different political options.
          </p>
        </div>
      </div>

      <div class="col-md-4 d-sm-none d-md-block">
        <ul class="sidenav">
          <li>
            <a pageScroll href="{{ prefixLink }}customerCharter"
              >Customer Charter</a
            >
          </li>
          <li class="indent">
            <a pageScroll href="{{ prefixLink }}section1"
              >We place YOUR needs first</a
            >
          </li>
          <li class="indent">
            <a pageScroll href="{{ prefixLink }}section2"
              >We commit to superior SERVICE</a
            >
          </li>
          <li class="indent">
            <a pageScroll href="{{ prefixLink }}section3"
              >We are FAIR and HONEST</a
            >
          </li>
          <li class="indent">
            <a pageScroll href="{{ prefixLink }}section4"
              >We value YOUR TRUST</a
            >
          </li>
          <li>
            <a pageScroll href="{{ prefixLink }}compliance"
              >Compliance With Guidelines</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
